{
    // This is JSON so, obviously, you need to turf the comment lines.

    // Minimally you must define *one* of "profileName" ...
    "profileName": "env",
    // ... or "profile":
    "profile": {
        "url": "https://us-east-3b.api.joyent.com",
        "account": "joe.blow",
        "keyId": "de:e7:73:32:b0:ab:31:cd:72:ef:9f:62:ca:58:a2:ec",
        "insecure": false
    },

    // Optional. Set this to allow the parts of the test suite that create,
    // update and destroy resources: instances, images, networks, etc.
    // This is essentially the "safe" guard.
    "allowWriteActions": true,

    // While volumes support is still experimental (and not deployed everywhere)
    // volumes test are skipped by default. Set this to true to run them.
    "allowVolumesTests": true,

    // Optional. Set to 'true' to skip affinity tests. Affinity tests assume
    // the datacenter has multiple servers to which provisions can go. So if
    // you are testing against COAL, for example, you'll need to set this
    // to true.
    "skipAffinityTests": false,

    // Optional. Set to 'true' to skip testing of KVM things. Some DCs might
    // not support KVM (no KVM packages or images available).
    "skipKvmTests": false,

    // The params used for test provisions. By default the tests use:
    // the smallest RAM package, the latest base* image.
    "package": "<package name or uuid>",
    "resizePackage": "<package name>",
    "image": "<image uuid, name or name@version>"

    // The params used for test *KVM* provisions. By default the tests use:
    // the smallest RAM package with "kvm" in the name, the latest
    // ubuntu-certified image.
    "kvmPackage": "<package name or uuid>",
    "kvmImage": "<image uuid, name or name@version>"

    // Optional. Set to 'true' to skip flexible disk tests. These tests assume
    // the datacenter has flexible disk packages.
    "skipFlexDiskTests": false
}
